.form-container{
    width:500px;
    /* display: flex; */
    /* justify-content: flex-start; */
    background: transparent;
    /* opacity: 0.7; */
    padding: 20px;
    border-radius: 20px;
}
input, select{
    width:80%;
    height:45px;
    border:none;
    background: rgb(250, 249, 249);
    border-radius: 20px;
    text-align:center;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
}
label{
    
    font-size: 18px;
    color:#fdf9f9;
    margin-bottom:10px;
    font-weight: 600;
}

option{
    border-radius: 10px;
    border: none;
    outline: none;
}
button{
  
    width:200px;
    height:45px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  span{
    /* margin-left: 220px; */
    right: 10%;
    top: 20px;
  }